<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
url(<%= image_url ('bground' + rand(1..5).to_s + '.jpg') %>);">

  <div class= "login-home">
    <% if user_signed_in? %>
      <div class="dropdown">
        <%= avatar_to_display %>
        <%= render 'shared/user_dropdown_menu' %>
      </div>
    <% else %>
      <%= render 'shared/login_signup_block' %>
    <% end %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banner-logo">
          <%= image_tag "logo.png", id: "logo-banner" %>
           <h1 id="logo-font">Buddykite</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="banner-tag">
          <h1>Rent the perfect gear for your perfect kite session</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'shared/search_form' %>
      </div>
    </div>
  </div>
</div>
