<div class="card">
  <% if item.photo? %>
    <div class="gear-image-card" style="background-image: url('<%= cl_image_path item.photo.path %>');">
    </div>
  <% else %>
    <div class="gear-image-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  url('<%= image_url('logo-blue.png')%>');">
    </div>
  <% end %>
  <div class="gear-infos-card">
    <div class="card-category"><%= item.size.category.name %></div>
    <div class="card-brand"><%= item.brand %></div>
    <div class="card-description">
        <h2><%= item.model + " - " + item.size.name %></h2>
        <p><%= (item.price / 100).round(0).to_s + "€ - " + item.description + " - " + item.address %></p>
    </div>
    <% if item.owner.photo? %>
      <%= cl_image_tag item.owner.photo.path, height: 30, width: 30, crop: :fill, class: "card-user avatar" %>
    <% else %>
      <%= image_tag 'user.png', class: "card-user avatar" %>
    <% end %>
  </div>
</div>
