<!-- <h2>@gear.category</h2> -->


<h2><%= @gear.brand %></h2>
<p><%= @gear.address %></p>

<p><%= @gear.model %></p>
<p><%= @gear.price %></p>
<p><%= @gear.description %></p>
<!-- sizes et categories -->
